// Police

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

$primary-police : 'Finger Paint';

// Couleurs

$primary-color : rgb(231, 226, 196);
$primary-color-gradient : #E28810;
$secondary-color-gradient : #8F5BFE;

// Page entière

#bloc_page {
    margin: auto;
    max-width: 100%;
}

body {
    margin: auto;
}

main {
    margin: 0 2%;
}

// Header

header {
    background-color: $primary-color;
    h1 {
        font-family: $primary-police, sans-serif;
        font-size: 2.2rem;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover {
            background: linear-gradient(135deg, $primary-color-gradient, $secondary-color-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.grid__header {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    .area__h1 {
        padding-left: 10%;
    }
    .area__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 5%;
        .fa-shopping-cart {
            font-size: 1.7rem;
        }
        a {
            position: absolute;
        }
        .cart__counter {
            position: relative;
            top: -17px;
            right: -17px;
            font-family: $primary-police, sans-serif;
            background-color: $primary-color-gradient;
            padding: 0 5px;
            border-radius: 30%;
        }
    }
}

// Main

h1 {
    font-family: $primary-police, sans-serif;
}

h2 {
    font-family: $primary-police, sans-serif;
    text-align: center;
}

h3 {
    font-family: $primary-police, sans-serif;
}

p {
    font-family: $primary-police, sans-serif; 
}

main {
    a {
        &:hover {
            opacity: 0.5;
        }
    }
    img {
        object-fit: contain;
    }
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

// Page Produit

.main-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-product {
    font-family: $primary-police;
    display: flex;
    justify-content: center;
    .product__sheet {
        display: flex;
    }
    ul {
        list-style-type: none;
        .under {
            padding-left: 10%;
            display: none;
        }
        li &:hover .under{
            display: block;
        }
    }
}

// Menu personnalisation

select, label {
    font-family: $primary-police, sans-serif;
}

// Bouton ajouter au panier

.btn__cart {
    cursor: pointer;
    font-family: $primary-police, sans-serif;
    font-size: 1rem;
    padding: 2%;
    background-color: $primary-color-gradient;
    border-style: solid;
    border-radius: 10px;
    &:hover {
        background-color: $secondary-color-gradient;
    }
}

/*.container__btn {
    position: relative;
    button {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }
}*/

// Page panier

.h1__cart {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Page confirmation

.confirm {
    text-align: center;
    &__footer {
        bottom: 0;
        position: fixed;
    }
}

// Footer

footer {
    bottom: 0;
    width: 100%;
    font-family: $primary-police, sans-serif;
    a {
        text-decoration: none;
        color: black;
        position: relative;
    }
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0rem;
    }
    .footer {
        &__navbar {
            a {
                &:hover {
                    background: linear-gradient(135deg, $primary-color-gradient, $secondary-color-gradient);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &::before {
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    background: linear-gradient(135deg, $primary-color-gradient, $secondary-color-gradient);
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 300ms ease-in-out;
                    transform-origin: left;
                }
            }
            li {
                flex: 1;
                text-align: center;
            }
        }
        &__social {
            font-size: 1.5rem;
            ul {
                justify-content: center;
            }
            :nth-child(2) {
                margin-left: 2%;
                margin-right: 2%;
            }
            .fa-facebook-f:hover {
                color: rgb(66, 103, 178);
            }
            .fa-twitter:hover {
                color: rgb(30, 172, 255);
            }
            .fa-instagram:hover {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

// Responsive

@media all and (max-width: 520px) {
    @-webkit-viewport {
        width: device-width;
    }
        img {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

