@charset "UTF-8";
/* Police */
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
/* Couleurs */
/* Page entière */
#bloc_page {
  margin: auto;
  max-width: 100%;
}

body {
  margin: auto;
}

/* Header */
header {
  background-color: #e7e2c4;
}
header h1 {
  font-family: "Finger Paint", sans-serif;
  font-size: 2.2rem;
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  background: linear-gradient(135deg, #E28810, #8F5BFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid__header {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}
.grid__header .area__h1 {
  padding-left: 10%;
}
.grid__header .area__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 5%;
}
.grid__header .area__cart .fa-shopping-cart {
  font-size: 1.7rem;
}
.grid__header .area__cart a {
  position: absolute;
}
.grid__header .area__cart .cart__counter {
  position: relative;
  top: -17px;
  right: -17px;
  font-family: "Finger Paint", sans-serif;
  background-color: #E28810;
  padding: 0 5px;
  border-radius: 30%;
}

/* Main */
h1 {
  font-family: "Finger Paint", sans-serif;
}

h2 {
  font-family: "Finger Paint", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Finger Paint", sans-serif;
}

p {
  font-family: "Finger Paint", sans-serif;
}

main a:hover {
  opacity: 0.5;
}
main img {
  object-fit: contain;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* Page Produit */
.main-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-product {
  font-family: "Finger Paint";
  display: flex;
  justify-content: center;
}
.container-product .product__sheet {
  display: flex;
}
.container-product ul {
  list-style-type: none;
}
.container-product ul .under {
  padding-left: 10%;
  display: none;
}
li .container-product ul:hover .under {
  display: block;
}

/* Menu personnalisation */
select, label {
  font-family: "Finger Paint", sans-serif;
}

/* Bouton ajouter au panier */
.btn__cart {
  cursor: pointer;
  font-family: "Finger Paint", sans-serif;
  font-size: 1rem;
  padding: 2%;
  background-color: #E28810;
  border-style: solid;
  border-radius: 10px;
}
.btn__cart:hover {
  background-color: #8F5BFE;
}

/*.container__btn {
    position: relative;
    button {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }
}*/
/* Page panier */
.h1__cart {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page confirmation */
.confirm {
  text-align: center;
}
.confirm__footer {
  bottom: 0;
  position: fixed;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  font-family: "Finger Paint", sans-serif;
}
footer a {
  text-decoration: none;
  color: black;
  position: relative;
}
footer ul {
  list-style-type: none;
  display: flex;
  padding-left: 0rem;
}
footer .footer__navbar a:hover {
  background: linear-gradient(135deg, #E28810, #8F5BFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__navbar a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
footer .footer__navbar a::before {
  content: "";
  position: absolute;
  background: linear-gradient(135deg, #E28810, #8F5BFE);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 300ms ease-in-out;
  transform-origin: left;
}
footer .footer__navbar li {
  flex: 1;
  text-align: center;
}
footer .footer__social {
  font-size: 1.5rem;
}
footer .footer__social ul {
  justify-content: center;
}
footer .footer__social :nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
footer .footer__social .fa-facebook-f:hover {
  color: #4267b2;
}
footer .footer__social .fa-twitter:hover {
  color: #1eacff;
}
footer .footer__social .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
